.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);  
    width: 50%;
    background: #424040;
    border-radius: 15px;
    background: linear-gradient(to right , red , purple);
    padding: 5vw 1vw;
    box-shadow: 10px 10px 20px #4d4c4c;
}

.quote{
    font-size: 2vw;
    margin-bottom: 4vw;
    font-weight: 500;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.author{
    font-size: 1.5vw;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    right: 5%;
    color: beige;
    background-color: rgb(24, 23, 23);
    border: 1px solid rgb(128, 125, 125);
    padding: 1vw 1vw;
    border-radius: 15px;
}

.icons img{
    margin-top: 2vw;
    height: 9vh;
    margin-left: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    background-color: #fff;
}

.icons img:nth-child(2){
    position: absolute;
    left: 16%;
    border: 5px solid white;
    height: 8vh;
}

@media(max-width:1270px){
    
    .icons img{
        height: 8vh;
        margin-left: 1rem;
    }

    .icons img:nth-child(2){
        height: 7vh;
        left: 20%;
    }
}

@media(max-width:900px){
    .icons img{
        height: 6vh;
        margin-left: 1rem;
    }

    .icons img:nth-child(2){
        height: 5vh;
        left: 20%;
    }
}

@media(max-width:400px){
    .icons img{
        height: 5vh;
        margin-left: 1rem;
    }

    .icons img:nth-child(2){
        height: 4vh;
        left: 25%;
    }
}